.App {
  display: grid;
  /* place-content: center; */
  place-items: center;
  min-height: 100vh;
  width: 60%;
  margin: 0 auto;
  max-width: 300px;
}

.search {
  margin-block: 2rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

input {
  margin-left: 1rem;
  display: inline-block;
  padding: 0.4em 1em;
}
